* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ciano: #58c4b5;
    --marinho: #493D9E;
    --amarelo-claro:#e4e1d6;
    --roxo-claro:#B2A5FF;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--ciano);
    color: var(--amarelo-claro);
    font-size: 16px;
}
main{
    left:0;
    top:0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: var(--roxo-claro);
    font-size: 4rem;
}
h4{
    font-size: 2.5rem;
}
header {
    display: flex; 
    width: 100%;
    background-color: var(--marinho);
    padding: 1rem;
    position: relative;
    justify-content: center;
}


.menu-disciplina {
    width: 20%;
    display: inline-block; 
}

.botao-disciplinas {
    cursor: pointer;
    font-size: 2rem;
    background: none;
    background-color: var(--amarelo-claro);
    border: none;
    padding: 1.05rem 1.5rem;
    color: var(--roxo-claro);
}

#menu-toggle {
    display: none;
}
.lista-vertical {
    display: none;
    position: absolute;
    background-color: var(--roxo-claro);
    box-shadow: 0 2px 5px var(--marinho);
    min-width: 190px;
    z-index: 1;
    left: 1rem;
    top:100%;
}

.lista-vertical a {
    color: var(--ciano);
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: center;
}
.lista-vertical a:hover {
    background-color: var(--amarelo-claro);
}

#menu-toggle:checked ~ .lista-vertical {
    display: block;
}
#menu-toggle:checked + .botao-disciplinas {
    background-color: var(--ciano);
}

.barra-pesquisa {
    width: 50%;
}

.barra-pesquisa input {
    width: 60%;
    padding: 0.5rem;
    border-radius: 1rem;
}


.links-principais {
    width: 80%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}


.lista-horizontal {
    list-style: none;
    display: flex;
    font-size: 2rem;
    gap: 4rem; 
}


a {
    text-decoration: none;
    color: var(--amarelo-claro);
}

a:hover {
    color: var(--ciano);
}



